
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300;400;500;600&family=Lato:wght@300;400;700&display=swap');



.row{

      margin-left: 0px;
      margin-right: 0px;
    }


.quotes{
    font-family: "Lato" , sans-serif;
}


.navbar{
    padding: 5px 5px;
   
    
 
}

.logoimry{
    border-radius: 25%;
   
}

#mainpicture{
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}


.navbar-collapse a{

        font-weight: 700;
        font-size: 20px;
        padding-bottom: 20px;
        color: grey;
}


.logoimry{
         width: 100px;
}

  .img-testimonial{
        height: 100px;
        width: 100px;
        border-radius: 50%;
}

    
 .img-testimonial-one{
        height: 100px;
        width: 100px;
        border-radius: 50%;
}

.row-testimonial{
        margin: auto;
}

p{
      padding-top: 25px;
}

small{
        
     font-family: "Lato" , sans-serif;
    font-weight: 600;
        
}
  

.font-dist{
    padding: 0px 20px;

}


 
/*-----COLORS----*/

.footer{
    color: yellow;
}

.social-media a{
    color: #23374c;

}
    

.bg-dark {
    background-color: #23374c!important;
}

.maincontainer{
    
    background-image: url("../images/pipes.jpg");
    background-size: auto 1390px;
    
}



/*-----MEDIA----*/


 
       
@media screen and (min-width: 400px) {
.description-one{
    padding: 0px 15px 0px 200px;
}
}
    

   
