@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300;400;500;600&family=Lato:wght@300;400;700&display=swap');




html,body {
  overflow-x: hidden;
  height: 100%;
  padding-top: 40px;
}




.navbar {
  padding: 5px 5px;
}




.logoimry {
  border-radius: 25%;
  width: 100px;
  margin-left: 25px;
  transition: transform .2s;
}




.main-section{
  padding-left: 0;
  padding-right: 0;
}





.main-title{
  text-align: center;
  align-content: center;
  background-color:  #676767;
  margin-top: 0px;
  height: 150px;
  display:flex;
  align-items: center;
  justify-content: center;
}




.intro{
  font-family: "Exo 2", sans-serif;
  font-weight: 600;
  font-size: 40px;
}




#mainpicture {
  display: block;
  width: 100%;
}




.navbar-collapse {
  margin-right: 25px;
}




.navbar-collapse a {
  font-weight: 700;
  font-size: 20px;
  padding-bottom: 20px;
  color: #676767;
}




.img-testimonial {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}




.img-testimonial-one {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}




.row-testimonial {
  margin-top: 40px;
  margin-bottom: 40px;
  padding-left: 30px;
  padding-right: 30px;
}




p.col.review {
  padding-top: 25px;
  font-family: "Exo 2" , sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #fafafa;
}




small {
  font-family: "Lato" , sans-serif;
  font-weight: 600;
  font-size: 15px;
}




.font-dist {
  padding: 0px 15px;
  color: #fafafa;
}




.container-footer {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #23374c;
  position: relative;
}




.container-bio {
  width: 100%;
  background-color: #676767;
}




.col-logo-bio {
  padding-left: 40px;
}




.row-bio-three {
  padding-bottom: 15px;
}




.bio-part-one, .bio-part-two, .bio-part-three, .bio-part-four {
  font-family: "Exo 2" , sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #fafafa;
}




.container-player {
  background-color: #676767;
}




.listen-titles {
  color: #fafafa;
  font-family: "Lato" , sans-serif;
  font-weight: 700;
  margin-bottom: 20px;
  margin-top: 10px;
}




.listen-text {
  color: #fafafa;
  font-family: "Exo 2", sans-serif;
  font-weight: 500;
  font-size: 25px;
  margin-top: 30px;
  margin-bottom: 0px;
}




.col-tracks {
  margin-bottom: 20px;
}




iframe {
  width: 100%;
}




.jumbotron {
  margin-top: 40px;
  background-color: rgba(0, 0, 0, 0.4);
}




.form-booking {
  margin-top: 60px;
}




.form-control {
  font-weight: 600;
  font-family: "Exo 2", sans-serif;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.4);
}




.form-group-size{
  padding-left: 20px;
  padding-right: 20px;
}




form .form-control::-webkit-input-placeholder {
  color: #fafafa;
}




form .form-control::-moz-placeholder {
  color: #fafafa;
}




form .form-control:-ms-input-placeholder {
  color: #fafafa;
}




form .form-control::placeholder {
  color: #fafafa;
}




.text-muted {
  color: #fafafa!important;
  padding-left: 10px;
  padding-bottom: 5px;
}




.modal-body {
  color: #fafafa;
  background-color: #23374c;
  font-family: "Exo 2", sans-serif;
  font-weight: 400;
  font-size: 20px;
}




.modal-footer{
  padding-top: 0px;
  padding-bottom: 10px;
  border-top-width: 0px;
  height: 63px;
}




.jumbo-text-title {
  font-family: "Lato" , sans-serif;
  font-weight: 700;
  color: #fafafa;
}




.jumbo-text {
  font-family: "Exo 2", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #fafafa;
}




.body-booking {
  background: url(../images/imry_bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}




.container-footer-booking {
  position: relative;
  top: 40px;
}



 
.jumbotron{
  margin-left: 20px;
  margin-right: 20px;
}




.navbar-dark .navbar-nav .active>.nav-link {
  color: #fafafa;
}




.bg-dark {
  background-color: #23374c!important;
}




.group-testimonial {
  background-color: #676767;
}




.btn-imry-form {
  color: #fafafa;
  background-color: #676767;
  border-color: #fafafa;
  font-family: "Exo 2", sans-serif;
  font-weight: 600;
  font-size: 20px;
  margin-top: 10px;
}




@media only screen and (min-width: 768px) {
  .description-one {
    padding-left: 230px;}
}




@media only screen and (min-width: 768px) {
  .intro{
  font-size: 50px;
}




.logoimry:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}




.icon:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}