
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300;400;500;600&family=Lato:wght@300;400;700&display=swap');

html,body{
    overflow-x: hidden;
    height: 100%; 
    
   /* margin: 0px;
    width: 100%;
     
    padding: 0px;*/
    
}


.navbar{
    padding: 5px 5px;
   
}

.logoimry{
    border-radius: 25%;
    width: 100px;
    margin-left: 25px;
    transition: transform .2s;
}

#mainpicture{
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}

.navbar-collapse{
    margin-right: 25px;
}

.navbar-collapse a{

        font-weight: 700;
        font-size: 20px;
        padding-bottom: 20px;
        color: grey;
}

.img-testimonial{
        height: 100px;
        width: 100px;
        border-radius: 50%;
}
   
.img-testimonial-one{
        height: 100px;
        width: 100px;
        border-radius: 50%;
}

.row-testimonial{
        margin-top: 40px;
        margin-bottom: 40px;
        padding-left: 30px;
        padding-right: 30px;
        
}

p.col.review{
      padding-top: 25px;
      font-family: "Lato" , sans-serif;
      font-weight: 400;
      font-size: 20px;
      color:#fafafa;
}

small{   
    font-family: "Exo 2" , sans-serif;
    font-weight: 600;
    font-size: 15px;
        
}

.font-dist{
    padding: 0px 20px;

}
.container-footer{
    padding-top: 20px;
    padding-bottom: 20px;
    background-color:#23374c;
    position: relative;

}
/*BIO PAGE*/


.container-bio{

    padding-top: 100px;
    background-color:  #676767;
    
    
}




 
/*-----COLORS----*/



.icon{
    color:#fafafa; 
}
    
.bg-dark {
    background-color: #23374c!important;
}

.maincontainer{
    
    background-image: url("../images/pipes.jpg");
    background-size: auto 1390px;   
}
.group-testimonial{
    background-color: #676767;
}


/*-----MEDIA----*/


/* @media only screen and (min-width: 768px){
        .description-one{
            padding-left: 230px;
        }*/
 
       
.logoimry:hover {
    transform: scale(1.1);
}

.icon:hover {
        
    transform: scale(1.1);
}

   
